.cart {
    position: fixed !important;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 75px;
}


@keyframes flicker {
    0% {
        color: white;
    }

    25% {
        color: white;
    }

    50% {
        color: rgb(251, 178, 174);
    }

    75% {
        color: white;
    }

    100% {
        color: white;
    }
}

.flickering-text:first-child {
    animation: flicker 5s infinite;
    animation-direction: left;
    animation-delay: 1.5s;
}

.flickering-text:last-child {
    animation: flicker 5s infinite;
    animation-direction: left;
    animation-delay: 1s;
}

.cart-opened {
    height: 50vh;
}

.total-table {
    max-height: 80%;
    overflow-y: auto;
    padding: 0;
}

.buy-btn {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.icon-arrow-down {
    width: 24px;
    height: 24px;
  
    transition: transform 0.5s ease-in-out;
}

.arrow-up {
  transform: rotate(180deg);
}

.arrow-down {
  transform: rotate(0deg);
}
